name: Docker image CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '22.04/**'
      - '24.04/**'
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  build-docker-images:
    runs-on: [ubuntu-24.04]

    strategy:
      fail-fast: false
      matrix:
        version: [22.04, 24.04]
        include:
          - version: 22.04
            docker-context: 22.04/default
            docker-tags: |
              nicoherbigde/ubuntu:22.04
              nicoherbigde/ubuntu:jammy
          - version: 24.04
            docker-context: 24.04/default
            docker-tags: |
              nicoherbigde/ubuntu:24.04
              nicoherbigde/ubuntu:noble

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and Push it to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-context }}
          no-cache: true
          pull: true
          push: true
          tags: ${{ matrix.docker-tags }}
